body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #333333;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*  fixed = parallax
      scroll = normal */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('./background-images/rafael-de-nadai-588387-unsplash.jpg');
  min-height: 100%;
  /* background-position-y: 75%; */
}

.pimg2 {
  background-image: url('./background-images/matthew-ronder-seid-424703-unsplash.jpg');
  min-height: 400px
}

.pimg3 {
  background-image: url('./background-images/philippe-mignot-127665-unsplash.jpg');
  min-height: 400px
}

.pimg4 {
  background-image: url('./background-images/john-gibbons-311400-unsplash.jpg');
  min-height: 400px
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #333333
}

.section-dark {
  background-color: #282e34;
  color: #dddddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
.socials {
  position: absolute;
  top: 800%;
  width: 100%
}

.ptext .border {
  background-color: #111111;
  color: #ffffff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3 {
      background-attachment: scroll;
  }
}



/* .bg1::after {
  background-image: url("rafael-de-nadai-588387-unsplash.jpg");
  background-position-y: 35%
}

.bg2::after {
  background-image: url("matthew-ronder-seid-424703-unsplash.jpg");
}

.bg3::after {
  background-image: url("philippe-mignot-127665-unsplash.jpg");
}

.bg4::after {
  background-image: url("john-gibbons-311400-unsplash.jpg")
}

.bg5::after {
  background-image: url("mahkeo-253875-unsplash.jpg") */